@font-face {
  font-family: "Substance W00 Bold";
  src: url("74a63d4eec6b8edbaf0ab36e3e66ce37.eot"); /* IE9*/
  src: url("74a63d4eec6b8edbaf0ab36e3e66ce37.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("74a63d4eec6b8edbaf0ab36e3e66ce37.woff2") format("woff2"),
    /* chrome、firefox */ url("74a63d4eec6b8edbaf0ab36e3e66ce37.woff")
      format("woff"),
    /* chrome、firefox */ url("74a63d4eec6b8edbaf0ab36e3e66ce37.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("74a63d4eec6b8edbaf0ab36e3e66ce37.svg#Substance W00 Bold")
      format("svg"); /* iOS 4.1- */
}
body {
  background-image: linear-gradient(to right, #301a3e, #303062);

}
.containerbord{
  border: 5px solid purple;
  border-radius:32px;
  
}
.topnav {
  overflow: hidden;
  margin-left: 878px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  margin-left: 10%;


  text-decoration: none;
  font-size: 17px;
  text-indent: 3em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #291936;
  color: white;
}

.parent {
  font-family: "Substance W00 Bold" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.rectancurve{
  
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-top: 100px;

}
.nftgall {
  position: fixed;
  bottom: 0;
  margin-left: 60%;
  margin-top:40%;
  margin-bottom: 15%;
  width: 300px;
  
}
h1 {
  color: white;
  width: 600px;
}
h2 {
  color: white;
  font-size: 20px;
  fo
}
.button {
  background-color: transparent; /* Green */
  border: 2px solid purple; /*linear-gradient(to right, #301a3e, #303062)*/
  box-shadow: 1px 1px 18px purple;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Add a black background color to the top navigation */
